@media (max-width: 1200px) {

}
@media (max-width: 800px) {

    .newsheader {
        font-size: 4vw;
    }
    .newstext {
        font-size: 2.5vw;
    }
    .newslink {
        font-size: 2.5vw;
    }
    
}
@media (max-width: 460px) {
    .menualts {
        font-size: 4vw;
    }
    .newsheader {
        font-size: 4.5vw;
    }
    .newstext {
        font-size: 3vw;
    }
    .newslink {
        font-size: 3vw;
    }
}
@media (max-width: 400px) {

}

@media (max-width: 350px) {

}


@media (min-height: 730px) {
    .menualts {
        font-size: 3.5vw;
    }
    .newsheader {
        font-size: 4vw;
    }
    .newstext {
        font-size: 2.5vw;
    }
    .newslink {
        font-size: 2.5vw;
    }
}